@{
    ViewBag.Title = "The Joel Hilton Film Collection";
}
<!-- Home Page -->
<div>
    <header>This site is used for storing my awesome movies!</header>
    <p>See the links above for pages about:</p>
    <ul class="list-group">
        <li class="list-group-item">Link to this home page</li>
        <li class="list-group-item">My Podcast</li>
        <li class="list-group-item">My Movie List</li>
        <li class="list-group-item">Adding Movie Siggestions</li>
    </ul>
    <br />
    <img class="img-thumbnail" src="~/joelpic.jpg" width="800" />
</div>
<br />
<!-- Link to add movie form (same as header link) -->
<!--<div>
    <label asp-action="EnterMovie">Add a movie to my list</label>
    <a asp-action="EnterMovie">Click here</a>
</div>-->
